stages:
  - setup
  - builds
  - run
  - tests
  - cleanup

variables:
  CACHE_DIR: "/gpfs/f5/scratch/oar.gfdl.ogrp-account/gfdl_o/runner/cache/"


# Merges SIS2 with dev/gfdl. Changes directory to test directory, if it exists.
# - set cache location
# - get MOM6-examples/tools/MRS scripts by cloning Gaea-stats and then MOM6-examples
# - set working directory to MOM6-examples
# - pull down latest of dev/gfdl (MOM6-examples might be ahead of Gaea-stats)
before_script:
  - echo Cache directory set to $CACHE_DIR
  #- git clone https://gitlab.gfdl.noaa.gov/ogrp/Gaea-stats-MOM6-examples.git tests
  #- cd tests && git submodule init && git submodule update
  #- cd MOM6-examples && git checkout dev/gfdl && git pull
  #- mkdir -p $HOME/ci/sis2/$CI_PIPELINE_ID/build
  #- test ! -L build && ln -s $HOME/ci/sis2/$CI_PIPELINE_ID/build build
  #- test ! -L $HOME/ci/sis2/$CI_PIPELINE_ID/src && ln -s "$(pwd)"/src $HOME/ci/sis2/$CI_PIPELINE_ID/src
  #- git submodule update --init --recursive
  #- git submodule set-url src/SIS2 $CI_PROJECT_DIR/.git
  #- (cd src/SIS2 && git fetch origin $CI_COMMIT_SHA && git checkout $CI_COMMIT_SHA)

clone:
  stage: setup
  tags:
    - ncrc5
  script:
    - cd $CI_PROJECT_DIR
    - git clone https://gitlab.gfdl.noaa.gov/ogrp/Gaea-stats-MOM6-examples.git tests
    - cd tests && git submodule init && git submodule update
    - cd MOM6-examples && git checkout dev/gfdl && git pull
    - mkdir -p $HOME/ci/sis2/$CI_PIPELINE_ID/build
    - test ! -L build && ln -s $HOME/ci/sis2/$CI_PIPELINE_ID/build build
    - test ! -L $HOME/ci/sis2/$CI_PIPELINE_ID/src && ln -s "$(pwd)"/src $HOME/ci/sis2/$CI_PIPELINE_ID/src
    - git submodule update --init --recursive
    - git submodule set-url src/SIS2 $CI_PROJECT_DIR/.git
    - (cd src/SIS2 && git fetch origin $CI_COMMIT_SHA && git checkout $CI_COMMIT_SHA)

# Tests that merge with dev/gfdl works.
merge:
  stage: setup
  tags:
    - ncrc5
  script:
    - cd $CI_PROJECT_DIR
    - git pull --no-edit https://github.com/NOAA-GFDL/SIS2.git dev/gfdl

# Compiles
gnu:repro:
  stage: builds
  tags:
    - ncrc5
  needs: ["clone"]
  script:
    - echo "$(pwd)"
    - echo $(pwd)
    - cd "${CI_PROJECT_DIR}"/tests/MOM6-examples
    - time make -f tools/MRS/Makefile pipeline-build-repro-gnu -s -j

#gnu:ice-ocean-nolibs:
#  stage: builds
#  tags:
#    - ncrc5
#  script:
#    - make -f tools/MRS/Makefile pipeline-build-gnu-iceocean-nolibs

intel:repro:
  stage: builds
  tags:
    - ncrc5
  needs: ["clone"]
  script:
    - cd "${CI_PROJECT_DIR}"/tests/MOM6-examples
    - time make -f tools/MRS/Makefile pipeline-build-repro-intel -s -j

pgi:repro:
  stage: builds
  tags:
    - ncrc5
  needs: ["clone"]
  script:
    - cd "${CI_PROJECT_DIR}"/tests/MOM6-examples
    - time make -f tools/MRS/Makefile pipeline-build-repro-pgi -s -j

gnu:debug:
  stage: builds
  tags:
    - ncrc5
  needs: ["clone"]
  script:
    - cd "${CI_PROJECT_DIR}"/tests/MOM6-examples
    - time make -f tools/MRS/Makefile pipeline-build-debug-gnu -s -j

# Runs
run:
  stage: run
  tags:
    - ncrc5
  needs: ["gnu:debug", "gnu:repro", "intel:repro", "pgi:repro"]
  script:
    - cd $CI_PROJECT_DIR/tests/MOM6-examples
    - make -f tools/MRS/Makefile sis2-pipeline-run

# Tests
gnu:non-symmetric:
  stage: tests
  tags:
    - ncrc5
  script:
    - cd $CI_PROJECT_DIR/tests/MOM6-examples
    - make -f tools/MRS/Makefile sis2-pipeline-test-gnu_non_symmetric

gnu:symmetric:
  stage: tests
  tags:
    - ncrc5
  script:
    - cd $CI_PROJECT_DIR/tests/MOM6-examples
    - make -f tools/MRS/Makefile sis2-pipeline-test-gnu_symmetric

gnu:memory:
  stage: tests
  tags:
    - ncrc5
  script:
    - cd $CI_PROJECT_DIR/tests/MOM6-examples
    - make -f tools/MRS/Makefile sis2-pipeline-test-gnu_memory

#gnu:static:
#  stage: tests
#  tags:
#    - ncrc5
#  script:
#    - make -f tools/MRS/Makefile sis2-pipeline-test-gnu_static

gnu:restart:
  stage: tests
  tags:
    - ncrc5
  script:
    - cd $CI_PROJECT_DIR/tests/MOM6-examples
    - make -f tools/MRS/Makefile sis2-pipeline-test-gnu_restarts

gnu:params:
  stage: tests
  tags:
    - ncrc5
  script:
    - cd $CI_PROJECT_DIR/tests/MOM6-examples
    - make -f tools/MRS/Makefile sis2-pipeline-test-params_gnu_symmetric
  allow_failure: true

intel:symmetric:
  stage: tests
  tags:
    - ncrc5
  script:
    - cd $CI_PROJECT_DIR/tests/MOM6-examples
    - make -f tools/MRS/Makefile sis2-pipeline-test-intel_symmetric

intel:non-symmetric:
  stage: tests
  tags:
    - ncrc5
  script:
    - cd $CI_PROJECT_DIR/tests/MOM6-examples
    - make -f tools/MRS/Makefile sis2-pipeline-test-intel_non_symmetric

intel:memory:
  stage: tests
  tags:
    - ncrc5
  script:
    - cd $CI_PROJECT_DIR/tests/MOM6-examples
    - make -f tools/MRS/Makefile sis2-pipeline-test-intel_memory

pgi:symmetric:
  stage: tests
  tags:
    - ncrc5
  script:
    - cd $CI_PROJECT_DIR/tests/MOM6-examples
    - make -f tools/MRS/Makefile sis2-pipeline-test-pgi_symmetric

pgi:non-symmetric:
  stage: tests
  tags:
    - ncrc5
  script:
    - cd $CI_PROJECT_DIR/tests/MOM6-examples
    - make -f tools/MRS/Makefile sis2-pipeline-test-pgi_non_symmetric

pgi:memory:
  stage: tests
  tags:
    - ncrc5
  script:
    - cd $CI_PROJECT_DIR/tests/MOM6-examples
    - make -f tools/MRS/Makefile sis2-pipeline-test-pgi_memory

cleanup:
  stage: cleanup
  tags:
    - ncrc5
  before_script:
    - echo Skipping submodule update
  script:
    - rm -rf $HOME/ci/sis2/$CI_PIPELINE_ID
    - rm $CACHE_DIR/*$CI_PIPELINE_ID.tgz
